*.gem
*.rbc
.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp

a.asm
a.map
*.lst
*.nes
*.html
*.o
*.s
_*.inc
darius.asm
parser.output
coverage
.DS_Store
darius*.zip
darius
miku
.ruby-version
sample
