# memory config for ld65

# $8000 ROM0(game) ROM3(en1) ROM4(en2) ROM7(en3) ROM9(en4) ROM11(en5) ROM12(en6) ROM15(en7) ROM16(my_process) ROM19(event2) ROM22(en8)
# $a000 ROM1(en) ROM2(debug_menu,menu) ROM5(my) ROM6(title) ROM8(bg_mmc) ROM10(event) ROM13(menu) ROM14(boxelev) ROM18(subtext)

# PBANK: max 32 bank (8k x 32 = 256kb)  / used 13 bank (ROM0~12) + 2 bank (ROML) + 17 bank(ROMF)
# CBANK: max 16 bank (8k bank x 16 = 128kb) / 
#
# fc_data: 34kb / 136kb (17*8kb)
# CBANK: 76kb / 128kb

MEMORY {
  ZP: start = $00, size = $60, type = rw, define = yes;
  ZP_STACK: start = $80, size = $80, type = rw, define = yes;
  SRAM: start = $0200, size = $0500, type = rw, define = yes;
  SRAM_EX: start = $6000, size = $1e00, type = rw, define = yes;
  SRAM_SAVEDATA: start = $7e00, size = $0200, type = rw, define = yes;
  HEADER: start = $0000, size = $10, file = %O, fill = yes;
  ROM0: start = $8000, size = $2000, file = %O, fill = yes, define = yes;
  ROM1: start = $a000, size = $2000, file = %O, fill = yes, define = yes;
  ROM2: start = $a000, size = $2000, file = %O, fill = yes, define = yes;
  ROM3: start = $8000, size = $2000, file = %O, fill = yes, define = yes;
  ROM4: start = $8000, size = $2000, file = %O, fill = yes, define = yes;
  ROM5: start = $a000, size = $2000, file = %O, fill = yes, define = yes;
  ROM6: start = $a000, size = $2000, file = %O, fill = yes, define = yes;
  ROM7: start = $8000, size = $2000, file = %O, fill = yes, define = yes;
  ROM8: start = $a000, size = $2000, file = %O, fill = yes, define = yes;
  ROM9: start = $8000, size = $2000, file = %O, fill = yes, define = yes;
  ROM10:start = $a000, size = $2000, file = %O, fill = yes, define = yes;
  ROM11:start = $8000, size = $2000, file = %O, fill = yes, define = yes;
  ROM12:start = $8000, size = $2000, file = %O, fill = yes, define = yes;
  ROM13:start = $a000, size = $2000, file = %O, fill = yes, define = yes;
  ROM14:start = $a000, size = $2000, file = %O, fill = yes, define = yes;
  ROM15:start = $8000, size = $2000, file = %O, fill = yes, define = yes;
  ROM16:start = $8000, size = $2000, file = %O, fill = yes, define = yes;
  ROM17:start = $8000, size = $2000, file = %O, fill = yes, define = yes;
  ROM18:start = $a000, size = $2000, file = %O, fill = yes, define = yes;
  ROM19:start = $8000, size = $2000, file = %O, fill = yes, define = yes;
  ROM20:start = $8000, size = $4000, file = %O, fill = yes, define = yes;
  ROM22:start = $8000, size = $2000, file = %O, fill = yes, define = yes;
  ROMF: start = $8000, size = $0E000, file = %O, fill = yes, define = yes;
  ROML: start = $c000, size = $3a00, file = %O, fill = yes, define = yes;
  ROM_IRQ5: start = $fa00, size = $0100, file = %O, fill = yes;
  ROM_IRQ4: start = $fb00, size = $0100, file = %O, fill = yes;
  ROM_IRQ3: start = $fc00, size = $0100, file = %O, fill = yes;
  ROM_IRQ2: start = $fd00, size = $0100, file = %O, fill = yes;
  ROM_IRQ1: start = $fe00, size = $0100, file = %O, fill = yes;
  ROM_IRQ0: start = $ff00, size = $00fa, file = %O, fill = yes;
  ROMV: start = $fffa, size = $0006, file = %O, fill = yes;
  ROMC: start = $0000, size = $20000, file = %O, fill = yes;
}

SEGMENTS {
  HEADER: load = HEADER, type = ro;
  VECTORS: load = ROMV, type = rw;
  CHARS: load = ROMC, type = rw, optional = yes;
  ZEROPAGE: load = ZP, type = zp;
  FC_ZEROPAGE: load = ZP, type = zp;
  FC_STACK: load = ZP_STACK, type = zp;
  BSS: load = SRAM, type= bss, define = yes;
  BSS_EX: load = SRAM_EX, type= bss, define = yes;
  BSS_SAVEDATA: load = SRAM_SAVEDATA, type= bss, define = yes;
  
  CODE: load = ROM20, type = ro, define = yes;
  RODATA: load = ROM20, type = ro, define = yes;
  FC_RUNTIME: load = ROML, type = ro, define = yes;
  main: load = ROML, type = ro;
  common: load = ROML, type = ro;
  ppu: load = ROML, type = ro;
  ppu_irq: load = ROM_IRQ3, type = ro;
  ppu_irq2: load = ROM_IRQ4, type = ro;
  fs: load = ROML, type = ro;
  mem: load = ROML, type = ro;
  lzw: load = ROML, type = ro;
  math: load = ROML, type = ro;
  sound: load = ROML, type = ro;
  mmc3: load = ROML, type = ro;
  pad: load = ROML, type = ro;
  savedata: load = ROML, type = ro;
  resource: load = ROML, type = ro;
  bg: load = ROML, type = ro;
  bg_data: load = ROML, type = ro;
  
  my: load = ROM5, type = ro;
  my_process: load = ROM16, type = ro;
  game: load = ROM0, type = ro;
  game_irq: load = ROM_IRQ0, type = ro;
  title: load = ROM6, type = ro;
  title_irq: load = ROM_IRQ2, type = ro;
  en: load = ROM1, type = ro;
  en_vtbl: load = ROM1, type = ro;
  event: load = ROM10, type = ro;
  event_irq: load = ROM_IRQ1, type = ro;
  debug_menu: load = ROM2, type = ro;
  menu: load = ROM13, type = ro;
  menu_irq: load = ROM_IRQ5, type = ro;
  en1: load = ROM3, type = ro;
  en2: load = ROM4, type = ro;
  en3: load = ROM7, type = ro;
  en4: load = ROM9, type = ro;
  en5: load = ROM11, type = ro;
  en6: load = ROM12, type = ro;
  en7: load = ROM15, type = ro;
  en8: load = ROM22, type = ro;
  boxelev: load = ROM14, type = ro;
  boxelev_data: load = ROM14, type = ro;
  bg_mmc: load = ROM8, type = ro;
  ending: load = ROM17, type = ro;
  ending_irq: load = ROM_IRQ2, type = ro;
  subtext: load = ROM18, type = ro;
  event2: load = ROM19, type = ro;
  nsd_se: load = ROM20, type = ro;
  nsd_bgm: load = ROM20, type = ro;
  
  fs_data: load = ROMF, type = ro;
}
